body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

#moodtracks {
  background-color: #D1E7F2;
  font-family: "Playwrite IS", cursive;
}

#new-entry {
  background-color: #D1E7F2;
}

header {
  background-color: #D1E7F2;
  color: black;
  padding: 1em;
  text-align: center;
}

nav a {
  color: #fff;
  margin: 0 1em;
  text-decoration: none;
}

main {
  background-image: url(./images/blue_mt.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:scroll;
  display: block;
  width: 100vw;
  height: 100vh;
  padding: 2em;
}

#entries {
  display: flex;
  flex-direction: column;
}

.entry {
  border: 1px solid #ccc;
  margin-bottom: 1em;
  padding: 1em;
}

/* Hide Choose File Button */
::-webkit-file-upload-button {
  display: none;
}

form.max-w-sm {
  max-width: inherit;
}


.entry button{
  background-color: aqua;
}

div.emotions img {
  max-width: 50%;
}

.entry {
  display: flex;
  justify-content: space-between;
}


#emotionContainer {
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
}

#emotionContainer img {
  width: 50%;
}

#activitiesContainer {
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
}

#activitiesContainer img {
  width: 50%;
}

#sleepQualityContainer {
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
}

#sleepQualityContainer img {
  width: 50%;
}

#foodContainer {
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
}

#foodContainer img {
  width: 50%;
}

/* Styling for the images */
#dailyEntriesContainer img {
  max-width: 500px;
  max-height: 500px;
  margin: 5px;
  border: 1px solid #ddd;
  /* Border to the image */
  border-radius: 5px;
  /* Rounded corners to the image */
}

.entry-photo {
  max-width: 250px;
  max-height: 250px;
  margin: 10px;
  display: block;
}

input[type="file"] {
  display: block;
  /* Ensures the file input is displayed as a block element */
  margin: 10px 0;
  /* Adds some margin for better spacing */
}

.icon-button {
  display: inline-block;
  border: none;
  background: none;
  cursor: pointer;
  margin: 5px;
}

.icon-button img {
  width: 50px;
  height: 50px;
}

.icon-button.selected {
  border: 2px solid blue;
}